.et-footer {
  background-color: $secondary-110;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  a {
    color: white;
    &:hover {
      background-color: white;
      color: blue;
    }
  }
}
