.et-header {
  background-color: $secondary-110;
  box-shadow: rgb(235, 238, 241) 0px -1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(222, 224, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgb(84, 89, 105);
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  line-height: normal;
  &__center {
    max-width: $ScrenMaxWidth;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.et-logo {
  flex: 1;
  font-size: 18px;
  padding-left: 10px;
  span {
    font-size: 12px;
    color: white;
  }
}

.et-header-search-bar {
  border: none;
  color: dimgray;
  padding: 3px;
  background-color: white;
  min-width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  @include et-max($et-viewport-sm) {
    flex: 1;
  }
}
