/*TODO: separate mixins */
@mixin et-font($size: 0, $line-height: 1.5, $bold: false) {
  font-family: $font-family;
  font-size: $size;
  font-style: normal;
  line-height: $line-height;

  @if $bold {
    font-weight: 400;
  }
}

@mixin et-min($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin et-max($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin et-min-max($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin size($h, $w) {
  height: $h;
  width: $w;
  min-width: $w;
}
@mixin square($val) {
  @include size($val, $val);
}

@mixin position($pos) {
  position: $pos;
}

@mixin setPlaceHolderStyle($color, $size) {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $color;
    font-size: $size;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 1;
    font-size: $size;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 1;
    font-size: $size;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
    font-size: $size;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
    font-size: $size;
  }

  &::placeholder {
    /* Most modern browsers support this now. */
    color: $color;
    font-size: $size;
  }
}

@mixin default-spacing() {
  padding: $et-spacing-xs $et-spacing-sm;
}

@mixin et-btn(
  $color: $white,
  $bg-color: $secondary-100,
  $bg-hover: $secondary-120,
  $border-radius: 3px
) {
  background-color: $bg-color;
  border-radius: $border-radius;
  color: $color;

  &:hover {
    background-color: $bg-hover;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

@mixin text-input-focus() {
  &:focus {
    outline: 0;
  }
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-overflow-multiline($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

/** -----------------
    FROM BOOTSTRAP
   --------------------
   */

@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode; // IE10+
  -o-hyphens: $mode;
  hyphens: $mode;
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical(
  $start-color: #555,
  $end-color: #333,
  $start-percent: 0%,
  $end-percent: 100%
) {
  background-image: -webkit-linear-gradient(
    top,
    $start-color $start-percent,
    $end-color $end-percent
  ); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(
    top,
    $start-color $start-percent,
    $end-color $end-percent
  ); // Opera 12
  background-image: linear-gradient(
    to bottom,
    $start-color $start-percent,
    $end-color $end-percent
  ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@function multiply-sizes($multiplicator, $sizes) {
  $multiplied: '';

  @each $size in $sizes {
    $multiplied: $multiplied + ' ' + ($size * $multiplicator);
  }

  @return unquote($multiplied);
}

@mixin et-layout() {
  max-width: $et-viewport-xl;
  margin: 0 $et-main-margin;

  @include et-min-max($et-viewport-xxl, $et-viewport-xxl + 50px) {
    max-width: calc(100% - #{$et-sc-banner-width});
  }

  @include et-min-max($et-viewport-xxl, $et-viewport-xxxl) {
    margin: 0 $et-main-margin;
  }

  @include et-min($et-viewport-xxxl) {
    margin: 0 auto;
  }
}

@mixin et-opacity($opacity) {
  opacity: $opacity;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
