@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

@import './variables.scss';
@import './mixins/common.scss';

@import './utilities.scss';

//ATOMS
@import './atoms/atoms.scss';

// COMPONENTS
@import './components/components.scss';

// PAGES
@import './app.scss';
@import './pages/pages.scss';
