// COLORS
// ------------------------

// Primary colors
$primary-100: #008fdc;
$primary-90: #f3f308;
$primary-20: rgb(174, 221, 255);

// Secondary colors
$secondary-120: #19466d;
$secondary-110: #476b8a;
$secondary-100: #04619b;
$secondary-50: #a6d1dd;
$secondary-20: #d7eafb;

// Grey
$gray-110: #333333;
$gray-100: #666666;
$gray-90: #999999;
$gray-50: #cccccc;
$gray-40: #dbdbdb;
$gray-30: #e5e5e5;
$gray-20: #f5f5f5;
$gray-10: #f2f2f2;
$gray-0: #f9f9f9;
$white: #ffffff;

// Utility Colors
$error-150: #a94442;
$yellow-150: #f3a302;
$yellow-130: #ffd63b;
$yellow-10: #fcf8d9;
$success-100: #418503;
$green-20: #c6d7b7;
$blue-50: #b3d5f2;
$blue-20: #dce7f4;
$blue-10: #e6ebec;

// TEXT & FONTS
// ------------------------

// FAMILY
$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// SIZES
$et-font-xxs: 10px;
$et-font-xs: 12px;
$et-font-sm: 14px;
$et-font-md: 16px;
$et-font-lg: 18px; // <768 & > 768 -- 21px
$et-font-xl: 24px;
$et-font-xxl: 30px;

// WEIGHT
$font-weight-100: 100;
$font-weight-400: 400;
$font-weight-700: 600;

// STYLE
$font-style-reg: normal;
$font-style-ita: italic;

// VIEWPORTS
// ------------------------

$et-viewport-xs: 320px; //	320px - 479px - XS
$et-viewport-sm: 480px; //	480px - 767px - SM
$et-viewport-md: 768px; //	768px - 991px - MD
$et-viewport-lg: 992px; //	992px - 1109px - LG
$et-viewport-xl: 1110px; //	1110px - ∞ - XL

// Special viewports
$et-viewport-xxl: 1200px;
$et-viewport-xxxl: 1360px;

// banner
$et-sc-banner-width: 140px;

// SPACING
// ------------------------

$et-spacing-xs: 5px;
$et-spacing-sm: 10px;
$et-spacing-md: 15px;
$et-spacing-lg: 20px;
$et-spacing-xl: 30px;

$et-line-height: 1.5;

$colors: (
  primary-100: $primary-100,
  primary-90: $primary-90,
  primary-20: $primary-20,
  gray-100: $gray-100,
  gray-50: $gray-50
);
@each $name, $color in $colors {
  .et-font-#{$name} {
    color: $color;
  }
}
